@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

* {
    box-sizing: border-box;

}
body {
    margin: 0;
    position: relative;
    font-family: 'Inter', sans-serif;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    font-size: 14px;
    color: #1c1b1b;

}
body::before {
    content: "";
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: url('/images/background2.png') center/cover no-repeat;
    filter: blur(3px);
    z-index: -1;
}
.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-size: 100%;
}
a{
    text-decoration: none;
    color: black;
}
select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0;
    border: none;
    outline: none;
    font-size: inherit;
    font-family: inherit;
    border-radius: 1px;
    text-align: center;
    color: #555555;
    cursor: pointer;
    background-color: transparent;
    text-align-last: center;

    background-image: url('/images/button/down-arrow.svg');
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 14px;
    padding-right: 32px;
}
.carbox {
    position:relative;
    border: 1px solid slategray;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    animation: fadeIn .3s;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-color: rgba(236, 241, 248, 0.89);

    box-sizing: border-box;
    flex: 1;
}
.error {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #ea8686;
}

h1 {
    font-family: 'Fraunces', sans-serif;
    font-weight: 900;
    color: #555555;
    font-size: 1.8rem;
    margin-bottom: 0.4rem;
    line-height: 0.7;
}
h4 {
    font-family: 'Inter', sans-serif;
    color: #555555;
    text-align: center;
    text-transform: capitalize;
    font-size: 1.1rem;

}
.vehicleDetails {
    position: sticky;
    align-content: flex-start;
}
.vehicleDetails p, .vehicleDetails label {
    font-size: 0.95rem;
    margin: 0.2rem 0;
}
.pageContainer {
    width: 100%;
    max-width: 800px;
    min-width: 735px;
    margin: 25px auto;
    padding: 0 10px;
    box-sizing: border-box;
}
img {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-drag: none;
    -webkit-user-drag: none;
    max-width: 200px;
    height: auto;
}
.carbox img {
    transition: transform 0.3s ease;

}
.carbox img:hover {
    transform: scale(1.05);
}
.signinDetails{
    background-color: rgba(236, 241, 248, 0.89);
}
.paymentDetails{
    background-color: rgba(236, 241, 248, 0.89);
}
.notificationDetails{
    background-color: rgba(236, 241, 248, 0.89);
}
.appearanceDetails{
    background-color: rgba(236, 241, 248, 0.89);
}
.topContainer, .middleContainer {
    animation: fadeIn .3s;
    display: flex;
    justify-content: center;
    min-height: 200px;
    gap: 40px;
    box-sizing: border-box;
}
.signinDetails, .paymentDetails, .notificationDetails, .appearanceDetails {
    flex: 1;
    border: 1px solid slategray;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    position: relative;
    justify-content: space-between;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-family: 'Inter', sans-serif;

}
.signinDetails form {
    display: flex;
    flex-direction: column;
}
.signinDetails form input {
    border:none;
    border-radius: 0;
    background: none;
    padding-bottom: 5px;
    color: #555555;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}
input:focus, textarea:focus {
    transition: transform 0.3s ease;
    outline: none;
    border-top:none;
    border-right:none;
    border-left:none;
    border-bottom: 1px solid #555555;
    border-radius: 4px;
}
.signinDetails input::placeholder{
    color: #555555;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    opacity: 1;
}

.inline {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

.paymentDetails .inline {
    position: relative;
    width: 100%;
    display: flex;
    padding-top: 20px;
    align-items: center;
}
.appearanceDetails .inline {
    position: relative;
    width: 100%;
    display: flex;
    padding-top: 5px;
    align-items: center;
}
.signinDetails .p1 {
    margin-left: 30px;
    vertical-align: center;
    margin-top: 0;
    margin-bottom: 0;
}
.signinDetails .p2 {
    margin: 0 30px 0 auto;
    vertical-align: center;
    text-align: right;
    position: static;
    transform: none;
}
.p2 {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

}
.p3 {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 60%;
    top: 50%;
    transform: translateX(-50%);
}
.p1 {
    margin-left: 50px;
    margin-top: 0;
    margin-bottom: 0;
}
.paymentDetails .p1{
    margin-left: 30px;
    margin-top: 0;
    margin-bottom: 0;
}
.paymentDetails button[type="submit"] {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 15px;
    background-color: #516ef1;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.carDetailsForm button[type="submit"] {
    position: absolute;
    bottom: 460px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 15px;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.signinDetails button[type="submit"],
.notificationDetails button[type="submit"],
.appearanceDetails button[type="submit"] {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 15px;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.signinDetails p, .notificationDetails p, .appearanceDetails p {

}
.signinDetails:hover,
.paymentDetails:hover,
.notificationDetails:hover,
.appearanceDetails:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}


/* HAMBURGER SECTION */
nav {
    position: absolute;
    top:100px;
    right: 50px;
    width: 250px;
}

.hamburger-nav {
    position: fixed;
    z-index: 1000;
    pointer-events: auto;
    top: 80px;
    right: -500px;
    height: calc(100% - 80px);
    background: rgba(255, 255, 255, 0.29);
    transition: 0.5s;
}

.hamburger-nav ul li {
    position: relative;
    font-weight: 900;
    background: rgba(255, 255, 255, 0.01);
    color: #1d3c4a;
    text-align: right;
    text-transform: uppercase;
    list-style-type: none;
    font-size: 1.2rem;
    padding: 20px 30px;
    border-bottom: none;
}

.hamburger-nav ul li::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 40px;
    right: 0;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.38);
}

.hamburger-lines, .line {
    position: fixed;
}

.hamburger-lines {
    padding: 2px;
    display: block;
    z-index: 9999;
    top: 1.2rem;
    left: 96%;
    width: 30px;
    height: 0;
    transform:translateY(-50%);
    border: 0;
    background: 0 0;
}

.hamburger-links {
    font-family: 'Fraunces', sans-serif;
    color: #ffffff;
}
.line {
    top:0.1875rem;
    background: #2e5365;
    width: 60%;
    height: 0.14rem;
    transition: all .3s ease-in;
}
.line::before {
    content: "";
    position: absolute;
    top: -0.4rem;
    right: -0.5rem;
    bottom: -0.4rem;
    background: transparent;
    z-index: 0;
}

#line-2 {
    top: .625rem;
}

#line-3 {
    top: 1.0625rem;
}

.hamburger-nav.active {
    right: 0;
}

.hamburger-lines.open #line-1{
    background: #ffffff;
    transform: rotate(45deg) translate(6px, 4px);
}
.hamburger-lines.open #line-2{
    background: transparent;
}
.hamburger-lines.open #line-3{
    background: #ffffff;
    transform: rotate(-45deg) translate(6px, -4px);
}
a, button {
    text-decoration: none;
    outline: none;
    color: inherit;
}

/*PFP Section*/
.profile-pic-wrapper {
    max-width: 64px;
    max-height: 64px;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border: 1px solid #000;

    position: fixed;
    top: 80px;
    right: -500px;
    z-index: 1000;
    transition: .5s;
}
.profile-pic-wrapper.active {
    right: 92px;
}

.profile-pic {
    height: 65px;
    width: 65px;
}

/*NAV*/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem 1.5rem;
}
.logo img {
    color: #2e5365;
    max-height: 30px;
    width: auto;
    display: block;
}
.nav-buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.host-btn {
    padding-top: 0.1rem;
    margin-right: 5rem;
    font-size: 0.95rem;
    text-decoration: none;
    color: #2e5365;
    background: transparent;
}


